body {
  background-color: #fafafa;
}

#main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}

#input input,
#code,
#preview {
  width: calc(100vw - 8px *2);
  max-width: 600px;
}

#code {
  height: 60px;
}

#preview {
  height: calc(155px + 8px * 2);
  border: none;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

/* https://github.com/tholman/github-corners/pull/52 */
.github-corner svg {
  clip-path: polygon(0 0, 100% 0, 100% 100%)
}
